* {
    padding: 0;
    margin: 0;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.cardcontainer {
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    padding: 20px;
}

.titlecontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {}

img {
    max-height: 100px;
}


}
.text {}
button {
    padding: 10px;
    margin: 0px;
    background: transparent;
    color: green;
    border: 1px solid green;
    width: 49%;
}
.decline {
    margin: -5px;
    color: red;
    border-color: red;
}
h2 {
    font-size: 2rem;
}
h3 {
    color: darkgray;
}
p {
    color: gray;
}